.slider-1 {
  background: url(/src/assets/Banner-1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100dvw;
  height: 500px;
}
.slider-2 {
  background: url(/src/assets/Banner-2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100dvw;
  height: 500px;
}
.slider-3 {
  background: url(/src/assets/Banner-3.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100dvw;
  height: 500px;
}
.slick-next {
  right: 4%;
}
.slick-prev {
  left: 4%;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  font-family: fangsong;
  font-size: 49px;
  line-height: 1;
  opacity: 1;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 90%;
  left: 90%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 90%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

@media (max-width: 768px) {
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }
}
